.formContainer {
    flex-direction: column;
    padding-bottom: 100px;
}

.formTitle {
    color: var(--footerLinks);
    display: inline-flex;
    gap: 237px;
}

.formHello {
    margin-top: -0.2em;
}

.formHello, label {
    color: var(--primary);
    font-size: 86px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formRow {
    display: flex;
    align-items: end;
    gap: 24px;
}

.formRow input,
.formRow textarea {
    color: var(--placeholder);
    flex: 1;
    border-bottom: 1px solid #C2E4CC;
    padding: 8px 0;
    background: transparent;
    outline: none;
    font-size: 16px;
    text-align: center;
}

.formRow textarea {
    min-height: 60px;
    resize: none;
}

.formButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    margin-left: 475px;
    margin-top: 56px;

    color: var(--hover);
    border: 1px solid var(--hover);
    padding: 62px 24px;
    border-radius: 50%;

    transition: color 0.3s ease;
}

.formButton:hover {
    color: var(--secondary);
    background: var(--hover);
}
