.formContainer {
    flex-direction: column;
    padding-bottom: 100px;
}

.formTitle {
    color: var(--footerLinks);
    display: inline-flex;
    gap: 237px;
}

.formHello {
    margin-top: -0.2em;
}

.formHello, label {
    color: var(--primary);
    font-size: 86px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formRow {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.fieldWrapper {
    flex: 1;
    display: flex;
}

.fieldWrapper input,
.fieldWrapper textarea {
    width: 100%;
    height: 40px;
    text-align: center;

    border-bottom: 1px solid #C2E4CC;
    background: transparent;
    outline: none;

    font-size: 16px;
    line-height: 40px;
    padding: 0;

    color: var(--placeholder);
}

.fieldWrapper textarea {
    resize: none;
    overflow: hidden;
}

.formButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    margin-left: 475px;
    margin-top: 56px;

    color: var(--hover);
    border: 1px solid var(--hover);
    padding: 62px 24px;
    border-radius: 50%;

    transition: color 0.3s ease;
}

.formButton:hover {
    color: var(--secondary);
    background: var(--hover);
}
