.contacts {
    align-items: center;
    flex-direction: column;
    padding-block: 100px 150px;
}

.socialList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150px;
}

