.contacts {
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.socialList {
    position: relative;
    padding: 36px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150px;
}

.socialList::before,
.socialList::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #C2E4CC;
}

.socialList::before {
    top: 0;
}

.socialList::after {
    bottom: 0;
}
