.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 160px;
    max-width: 1440px;
    margin: 100px auto 0;
    padding-inline: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img:hover {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    span{
        color: var(--spanDecor);
        font-size: 16px;
        font-weight: 700;
    }

    h3{
        color: var(--primary);
        font-size: 27px;
        font-weight: 700;
    }

    h3:hover{
        text-decoration: underline 3px solid;
    }
}