.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 160px;
    max-width: 1440px;
    margin: 100px auto 0;
    padding-inline: 20px;
    position: relative;

}

.portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #C2E4CC;
    transform: translateX(-50%);
    z-index: 1;
}

.portfolio__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--hover);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.portfolio__btn:hover {
    color: var(--spanDecor);
    font-weight: 700;
}

.portfolio__btn img {
    width: 24px;
    height: 24px;
}

