.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    background: #000;
}

.modal__close {
    position: absolute;
    z-index: 110;
    top: 16px;
    right: 16px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
