.header {
    width: 100%;
    padding-inline: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.header__light {
    color: var(--secondary);
}

.header__dark {
    color: var(--primary);
}

.header__logo,
.nav-link {
    color: inherit;
    transition: color 0.1s ease-in-out;
}

.nav-link--active {
    color: var(--hover);
}

.header__logo {
    font-size: 16px;
    font-weight: 700;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
}

.nav-link:hover,
.header__logo:hover
{
    color: var(--hover);
}