.header {
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: transparent;
    height: 145px;
}

.header__logo {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

.navigation__list {
    color: var(--secondary);
    font-size: 16px;
}