.header {
    justify-content: space-between;
    align-items: center;

    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.header__logo {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
}

.nav-link {
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--hover);
}

/*.nav-link.active {*/
/*    color: var(--hover);*/
/*    font-weight: 700;*/
/*}*/
