.footer {
    width: 100%;
    padding-inline: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}

.footer .navigation__list {
    flex-direction: row;
    gap: 20px;
    color: var(--footerLinks);
}
